<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cloud Word</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" />
</head>
<body>
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
      <div>
        <h1 class="text-center">Cloud Word</h1>
        <form method="post">
          {% csrf_token %}

          <label for="{{ form.url.id_for_label }}"
                 class="{% if form.url.errors %}is-invalid-label{% endif %}">
            {{ form.url.label }}
            <input type="url" name="url" required id="id_url"
                   class="{% if form.url.errors %}is-invalid-input{% endif %}">
            {% for error in form.url.errors %}
              <span class="form-error is-visible">{{ error|escape }}</span>
            {% endfor %}
          </label>
          <input type="submit" class="button" value="send">
        </form>

        {% if words %}
          <h2>Top 100 words</h2>
          {% for word in words %}
            <p>{{ word }}</p>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
</body>
</html>